<header>
    <ul>
        <li> <a [routerLink]="['/sobre-mi']"> Sobre mi </a> </li>
        <li> <a [routerLink]="['/proyectos']"> Proyectos </a> </li>
        <li id="logo"> <a href="#">VR</a></li>
        <li> <a [routerLink]="['/crear-proyecto']"> Crear proyecto </a> </li>
        <li> <a [routerLink]="['/contactos']"> Contacto </a> </li>
    </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    Master en JavaScript de Pedro Castro &copy;
</footer>

