<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p> {{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula velit mauris. Suspendisse lorem ex, 
        faucibus quis libero ut, malesuada rutrum nisi. Mauris faucibus metus ut lobortis dapibus. Aenean facilisis 
        urna id lectus feugiat consectetur. Phasellus hendrerit, magna vitae consectetur convallis, elit justo sagittis magna, 
        eget lobortis odio quam vitae eros. Pellentesque vitae rhoncus felis. Vivamus tristique bibendum ligula. Nulla laoreet, 
        lorem a euismod pharetra, velit ligula ultrices quam, vel aliquam quam metus vitae ante. Nulla dignissim porta nibh, 
        at facilisis ligula interdum sed. Integer vitae felis id nunc euismod cursus. Aenean eget metus facilisis, 
        vestibulum nulla et, commodo quam. In leo enim, ullamcorper dapibus lacus id, hendrerit molestie augue. 
        Aenean tempus odio a elit pellentesque efficitur.

    </p>

</article>